<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'things' %}">shop</a>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    {% for el in things %}
        <div>
            <img src="{{ el.photo }}" alt="{{el.name}}">
            name: {{ el.name }}<br>
            price: {{ el.value }}<br>
            left: {{ el.amount }}<br>
        </div>
    {% endfor %}
    </div>
</body>
</html>